@model DdmWebClient.Models.MainControllerModels.AllFileInfoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewImage</title>
</head>
<body>
    <div>
        Add file to album @Model.AlbumInfo.Name
    </div>
    <div>
        All files:
        
        @foreach (var file in Model.Files)
        {
            <div>
                FileName [@file.Name]
            </div>
            <div>
                FileId [@file.Id]
            </div>
            <div>
                <img src="@Model.GetImagePath(file.Id)" width="100" height="100"/>
            </div>
            <div>
                @{
                    string path = "/Main/AddFileToAlbum/?ids=" + Model.AlbumInfo.Id + ":" + file.Id;
                    <a href=@path>Add file to albume</a>
                }
            </div>
        }
    </div>
    
    <h2>Загрузка одного файла</h2>
    <p>
    @using (Html.BeginForm("LoadToServer", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {       
        <input type="file" name="fileUpload" /><br />      
        <input type="submit" name="Submit" id="SubmitSingle" value="Upload" />
    }
    </p>

</body>
</html>
